<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>hockeyCosom.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>170977D61D935EDA006B44AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>170977EF1D935EDA006B44AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>170977FA1D935EDA006B44AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
